*{
  margin: 0%;
  padding: 0%;
  box-sizing:border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../image/wallpaperflare.com_wallpaper\ \(4\).jpg);
  background-size: cover;
  background-position: center;

}

.banner{

  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../image/img2.jpg);
  background-size: cover;
  background-position: center;
  
}

.login{
  width: 420px;
  background: transparent;
  border: 2px solid  ;
  backdrop-filter: blur(3px);
  color: #ffffff;
  border-radius: 12px;
  padding: 30px 40px;
}

.login h1{
  font-size: 36px;
  text-align: center;
}

.login .username{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
  
}

.login .password{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
  
}


.username input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid ;
  border-radius: 40px;
  font-size: 16px;
  color: antiquewhite;
  padding: 20px 45px 20px 20px;
}

.password input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid ;
  border-radius: 40px;
  font-size: 16px;
  color: antiquewhite;
  padding: 20px 45px 20px 20px;
}

.username input::placeholder{
  color: antiquewhite;
}

.password input::placeholder{
  color: antiquewhite;
}

.username i{
  position: absolute;
  right: 20px;
  top: 30px;
  transform: translate(-50%);
  font-size: 20px;
}

.password i{
  position: absolute;
  right: 20px;
  top: 30px;
  transform: translate(-50%);
  font-size: 20px;
}

.login .remember-forget{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 15px 0 15px;

}

.remember-forget label input{
  accent-color: white;
  margin-right: 3px;
}

.remember-forget a{
  color: aliceblue;
  text-decoration: none;
}

.remember-forget a:hover{
  text-decoration: underline;
}

.login .btn{
  width: 100%;
  height: 45px;
  background: #bf1919;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: rgb(220, 215, 215);
  cursor: pointer;
  font-size: 16px;
  color: rgb(238, 229, 229);
  font-weight: 600;
}

.login .registerlink{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerlink p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.registerlink p a:hover{
  text-decoration: underline;


}
